<div class="footer text-center text-white container-fluid p-5 d-flex justify-content-between align-items-center">
    <div class="location text-center text-white">
        <h1 class="fs-4">LOCATION</h1>
        <p class="fs-5">2215 John Daniel Drive</p>
        <p class="fs-5">Clark, MO 65243</p>
    </div>
    <div class="theWeb text-center text-white d-flex flex-column">
        <h1 class="mb-5 fs-4 text-center">AROUND THE WEB</h1>
        <ul class="d-flex justify-content-between listt">
            <li><i class="fa-brands fa-facebook-f"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-linkedin-in"></i></li>
            <li><i class="fa-brands fa-dribbble"></i></li>  
        </ul>
    </div>
    <div class="free text-center text-white w-25">
        <h1 class="fs-4">ABOUT FREELANCER</h1>
        <p class="fs-5">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>

</div>