<div class="About d-flex justify-content-center align-items-center min-vh-100 text-white flex-column">

    <h1 class="text-center text-capitalize fw-bolder fs-2">
        about component
    </h1>
    <span class="spann my-3"></span>
    <div class="justify-content-between ww d-flex flex-row">
        <p class="m-1">
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>
        <p class="m-1">
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>

    </div>
</div>