<nav class="navbar navbar-expand-lg bg p-3">
    <div class="container-fluid">
      <a class="text-white fw-bolder fs-2 navbar-brand" routerLinkActive=" " routerLink="StartFramework" >Start Framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-3">
          <li class="text-white fw-bolder fs-5 nav-item">
            <a class="text-white nav-link active" aria-current="page" routerLinkActive="active-link" routerLink="about" >About</a>
          </li>
          <li class="text-white fw-bolder fs-5 nav-item">
            <a class="text-white nav-link active" aria-current="page" routerLinkActive="active-link" routerLink="portfolio" >Portofolio</a>
          </li>
          <li class="text-white fw-bolder fs-5 nav-item">
            <a class="text-white nav-link active" aria-current="page"  routerLinkActive="active-link" routerLink="contact" >Contact</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>